@model DynamicTimeTable.Models.inputHour

<form asp-action="Index" method="post">
    <label>No of Working Days:</label>
    <input asp-for="WorkingDays" />
    <span asp-validation-for="WorkingDays"></span>
    <br /> <br />
    <label>No of Subjects per day:</label>
    <input asp-for="SubjectsPerDay" />
    <span asp-validation-for="SubjectsPerDay"></span>
    <br /> <br />
    <label>Total Subjects:</label>
    <input asp-for="TotalSubjects" />
    <span asp-validation-for="TotalSubjects"></span>
    <br /> <br />
    <p>Total Hours (auto): @Model?.TotalHours</p>
    <button type="submit">Submit</button>
</form>
